@tailwind base;
@tailwind components;
@tailwind utilities;

.bodybg{
    background: rgb(29,32,43);
    background: radial-gradient(circle, rgba(29,32,43,1) 0%, rgba(20,23,31,1) 100%);
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}